@import 'bebasneue.scss';
@import 'robotocondensed.scss';

body *{
  font-family: "Roboto Condensed", sans-serif;
  font-size: 19px;
}
.uk-navbar-nav .menu-a{
  position: relative;
  color: #c5c5c5;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 100px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.uk-navbar-nav > li:hover > .menu-a{
  color: #ffffff;
}
.uk-navbar-nav  > li:hover > .menu-a::after{
  content: "";
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-weight: 300;
  height: 2px;
  background-color: #9EEA6A;
  animation: menu-border-bottom .5s;
  color: #ffffff;
}
.uk-navbar-nav > li.uk-active > a, .uk-navbar-nav > li > a.uk-open{
  color: #ffffff;
}
.uk-button-green {
  background-color: #9EEA6A;
  color: #222;
  border: 1px solid transparent;
}
/*[class*=uk-dropdown-bottom] {
  margin-top: 0;
  background-color: #4d4c5e;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.25);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.25);
}
.uk-navbar-dropdown-nav .menu-sub-a{
  color: #c5c5c5;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  text-transform: uppercase;
}
.uk-navbar-dropdown-nav .uk-active > .menu-sub-a{
  color: #ffffff;
}
.uk-navbar-dropdown-nav li:hover .menu-sub-a{
  color: #9EEA6A;
}*/
.uk-section-scheme{
  background: rgba(77,76,94,.8);
}
.uk-list .scheme-item{
  display: flex;
  align-items: center;
  margin-bottom: 22px;
}
.scheme-item__img-wrap {
  width: 120px;
  height: 120px;
  margin-right: 17px;
  border-radius: 50%;
  text-align: center;
  background-color: #ffffff;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.scheme-item__img {
  top: 30%;
  position: relative;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  vertical-align: middle;
}
.scheme-item__num {
  width: 45px;
  position: relative;
  color: #fff;
  font-size: 30px;
  line-height: 28px;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}
.scheme-item__title {
  color: #fff;
  font-size: 24px;
  line-height: 28px;
}
.h2-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  color: #000;
  font-size: 48px;
}
footer{
  background-color: #4e4e5f;
}
.footer-ul{
  padding: 0;
  margin: 0;
}
.footer-ul__li{
  list-style-type: none;
  color: #c5c5c5;
  font-size: 16px;
  line-height: 32px;
}
.footer-ul__li-a{
  color: #c5c5c5;
}
.footer-ul__li-a:hover{
  color: #ffffff;
  text-decoration: none;
}
.footer-ul__li svg{
  color: #9EEA6A;
}
.footer-social svg{
  color: #ffffff;
  margin-right: 15px;
}
.to-top{
  position: fixed;
  bottom: 15px;
  left: 15px;
}
.to-top a{
  width: 40px;
  height: 40px;
  border: 1px solid #9EEA6A;
  border-radius: 50%;
  padding: 5px;
  text-align: center;
}
.to-top svg{
  padding-top: 15px;
  color: #9EEA6A;
}
.h1-title{
  font-family: "Bebas Neue", sans-serif;
  font-weight: 700;
  font-size: 48px;
  margin: 40px 0 20px;
}
/*.uk-notification-message{
  border-radius: 7px;
  background-color: white;
  color: black;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}
.uk-notification-message-success{
  position: relative;
  padding-left: 50px;
  border-left: 3px solid green;
}
.uk-notification-message-success-icon{
  color: green;
  position: absolute;
  top: 25px;
  left: 10px;
}
.uk-notification-message-danger{
  position: relative;
  padding-left: 50px;
  border-left: 3px solid red;
}
.uk-notification-message-danger-icon{
  color: red;
  position: absolute;
  top: 25px;
  left: 10px;
}*/
a, button{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/*.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}*/
@keyframes menu-border-bottom{
  0% {
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
@media (max-width: 1199.98px){
  .uk-navbar .uk-logo img{
    width: 150px;
  }
  .scheme-item__img-wrap{
    width: 100px;
    height: 100px;
  }
  .scheme-item__img{
    top: 25%;
  }
  .scheme-item__title {
    font-size: 19px;
    line-height: 22px;
  }
  .scheme-item__num {
    width: 30px;
    font-size: 22px;
    line-height: 20px;
  }
}
@media (max-width: 767.98px){
  .h2-title {
    font-size: 32px;
  }
}
